<div class="d-flex center-content h-12">

    <div id='firstForm' class="banner-4">
        <header class='cool-header'>
            <h2 class='t-center'>Calculator</h2>
        </header>

        <main class='pt-1'>
            <form class='d-flex col gap-3'>
               
                    
                <fieldset>
                    <legend>What do you need</legend>
                    <div>
                        <input type='radio' id='newWebsite' name='workType' value='newWebsite' checked/>
                        <label for='newWebsite'>Create a new Website</label>
                    </div>
                    <div>
                        <input type='radio' id='updateWebsite' name='workType' value='updateWebsite'/>
                        <label for='updateWebsite'>Update existing Website</label>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>Type of Website</legend>
                    <div class='d-flex gap-3'>
                        <div class='col'>
                            <div>
                                <input type='radio' id='portfolio' name='websiteType' value='portfolio' checked/>
                                <label for='portfolio'>Portfolio</label>
                            </div>
                            <div>
                                <input type='radio' id='event' name='websiteType' value='event' checked/>
                                <label for='event'>Event</label>
                            </div>
                            <div>
                                <input type='radio' id='business' name='websiteType' value='business' checked/>
                                <label for='business'>Business</label>
                            </div>
                        </div>
                        <div class='col'>
                            <div>
                                <input type='radio' id='ecommerce' name='websiteType' value='ecommerce' checked/>
                                <label for='ecommerce'>eCommerce</label>
                            </div>
                            <div>
                                <input type='radio' id='nonprofit' name='websiteType' value='nonprofit' checked/>
                                <label for='nonprofit'>Nonprofit</label>
                            </div>
                            <div>
                                <input type='radio' id='blog' name='websiteType' value='blog' checked/>
                                <label for='blog'>Blog</label>
                            </div>
                        </div>
                    </div>
                </fieldset>                      
                   
                <fieldset>
                    <legend>Size of Website</legend>
                    <div>
                        <input type='radio' id='small' name='websiteSize' value='small' checked/>
                        <label for='small'>Single Page (small)</label>
                    </div>
                    <div>
                        <input type='radio' id='medium' name='websiteSize' value='medium'/>
                        <label for='medium'>2-4 Pages (medium)</label>
                    </div>
                    <div>
                        <input type='radio' id='big' name='websiteSize' value='big'/>
                        <label for='big'>4+ Pages (big)</label>
                    </div>
                </fieldset>
                
            </form>
        </main>

        <footer>
            <div class='d-flex w-100 just-center'>
                <button id='firstButton' class='form-button'>Next</button>
            </div>
        </footer>

    </div>

    <div id='secondForm' class="banner-4 hidden">
        <header class='cool-header'>
            <h2 class='t-center'>Features</h2>
        </header>

        <main class='pt-1'>
            <form class='d-flex col gap-3'>
                <fieldset>
                    <legend>Choose Extra Features</legend>
                    <div class='features'>
                        <div>
                            <label id="button1">
                                
                                <header>
                                    <input type='checkbox' id='big2' name='features' value='big'/>
                                    <h3>Reviews</h3>
                                </header>
                                <main>
                                    <p>Lorem ipsum dolor sit amet con sectetur, adipis icing elit. </p>
                                </main>
                                
                            </label>
                            <label id="button2">
                                
                                <header>
                                    <input type='checkbox' id='big2' name='features' value='big'/>
                                    <h3>Integrations</h3>
                                </header>
                                <main>
                                    <p>Lorem ipsum dolor sit amet con sectetur, adipis icing elit. </p>
                                </main>
                                
                            </label>
                            <label id="button3">
                                <header>
                                    <input type='checkbox' id='big2' name='features' value='big'/>
                                    <h3>CMS</h3>
                                </header>
                                <main>
                                    <p>Lorem ipsum dolor sit amet con sectetur, adipis icing elit. </p>
                                </main>
                                
                            </label>
                            <label id="button4">
                                
                                <header>
                                    <input type='checkbox' id='big2' name='features' value='big'/>
                                    <h3>SEO</h3>
                                </header>
                                <main>
                                    <p>Lorem ipsum dolor sit amet con sectetur, adipis icing elit. </p>
                                </main>
                                
                            </label>
                        </div>
                        <div >
                            <label>
                                
                                <header>
                                    <input type='checkbox' id='big2' name='features' value='big'/>
                                    <h3>Design</h3>
                                </header>
                                <main>
                                    <p>Lorem ipsum dolor sit amet con sectetur, adipis icing elit. </p>
                                </main>
                                
                            </label>
                            <label>
                                
                                <header>
                                    <input type='checkbox' id='big2' name='features' value='big'/>
                                    <h3>Media</h3>
                                </header>
                                <main>
                                    <p>Lorem ipsum dolor sit amet con sectetur, adipis icing elit. </p>
                                </main>
                                
                            </label>
                            <label>
                                
                                <header>
                                    <input type='checkbox' id='big2' name='features' value='big'/>
                                    <h3>Marketing</h3>
                                </header>
                                <main>
                                    <p>Lorem ipsum dolor sit amet con sectetur, adipis icing elit. </p>
                                </main>
                                
                            </label>
                            <label>
                                
                                <header>
                                    <input type='checkbox' id='big2' name='features' value='big'/>
                                    <h3>Data Analytics</h3>
                                </header>
                                <main>
                                    <p>Lorem ipsum dolor sit amet con sectetur, adipis icing elit. </p>
                                </main>
                                
                                
                            </label>
                        </div>
                        <div >
                            <label>
                                
                                <header>
                                    <input type='checkbox' id='big2' name='features' value='big'/>
                                    <h3>Database</h3>
                                </header>
                                <main>
                                    <p>Lorem ipsum dolor sit amet con sectetur, adipis icing elit. </p>
                                </main>
                                
                            </label>
                            <label>
                                
                                <header>
                                    <input type='checkbox' id='big2' name='features' value='big'/>
                                    <h3>Order Online</h3>
                                </header>
                                <main>
                                    <p>Lorem ipsum dolor sit amet con sectetur, adipis icing elit. </p>
                                </main>
                                
                            </label>
                            <label>
                                
                                <header>
                                    <input type='checkbox' id='big2' name='features' value='big'/>
                                    <h3>Booking System</h3>
                                </header>
                                <main>
                                    <p>Lorem ipsum dolor sit amet con sectetur, adipis icing elit. </p>
                                </main>
                                
                            </label>
                            <label>
                                
                                <header>
                                    <input type='checkbox' id='big2' name='features' value='big'/>
                                    <h3>Payment System</h3>
                                </header>
                                <main>
                                    <p>Lorem ipsum dolor sit amet con sectetur, adipis icing elit. </p>
                                </main>
                                
                            </label>
                        </div>
                       
                    </div>
                </fieldset>
            </form>
        </main>

        <footer>
            <div class='d-flex w-100 just-center'>
                <button id='secondButton' class='form-button'>Next</button>
            </div>
        </footer>

    </div>
</div>

 <!-- <fieldset>
                            <legend>Choose Extra Features</legend>
                            <div class='d-flex row gap-3'>

                                <div class='col'>

                                    <div>
                                        <label>
                                            <input type='checkbox' id='design' name='features' value="design"/>
                                            Design
                                        </label>
                                    </div>

                                    <div>
                                        <label>
                                            <input type='checkbox' id='photos' name='features' value="photos"/>
                                            Photos
                                        </label>
                                    </div>

                                    <div>
                                        <label>
                                            <input type='checkbox' id='photos' name='features' value="photos"/>
                                            Photos
                                        </label>
                                    </div>

                                </div>

                                <div class='col'>
                                    <div>
                                        <label>
                                            <input type='checkbox' id='photos' name='features' value="photos"/>
                                            Photos
                                        </label>
                                    </div>
                                    <div>
                                        <label>
                                            <input type='checkbox' id='photos' name='features' value="photos"/>
                                            Photos
                                        </label>
                                    </div>
                                    <div>
                                        <label>
                                            <input type='checkbox' id='photos' name='features' value="photos"/>
                                            Photos
                                        </label>
                                    </div>
                                </div>

                                <div class='col'>
                                    <div>
                                        <label>
                                            <input type='checkbox' id='photos' name='features' value="photos"/>
                                            Photos
                                        </label>
                                    </div>
                                    <div>
                                        <label>
                                            <input type='checkbox' id='photos' name='features' value="photos"/>
                                            Photos
                                        </label>
                                    </div>
                                    <div>
                                        <label>
                                            <input type='checkbox' id='photos' name='features' value="photos"/>
                                            Photos
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </fieldset> -->