<nav class="nav">
    <h1>DH Web Designs</h1>
    <div class="nav-mob">
        <i class="fa-solid fa-bars"></i>
    </div>
    
    <ul class="navbar">
        <li class="nav-item"><a href="#">Example link</a></li>
        <li class="nav-item"><a href="#">Example link</a></li>
        <li class="nav-item"><a href="#">Example link</a></li>
        <li class="nav-item"><a href="#">Example link</a></li>
        <li class="nav-item"><a href="#">Example link</a></li>
        <li class="nav-item"><a href="#">Example link</a></li>
    </ul>
</nav>
