<nav class="navbar">
    <div class="top-nav">
        <ul class="nav">
            <li class="nav-item-small"><a href='tel:+45-93-83-19-94'><i class="fa-solid fa-phone" style="color: #ffffff;"></i>+45-93-83-19-94</a></li>
            <li class="nav-item-small"><a href='#'>Some Link</a></li>
            <li class="nav-item-small"><a href='#'>Some Link</a></li>
            <li class="nav-item-small"><a href='#'>Some Link</a></li>
        </ul>
        <a href="#" class="nav-item">5 start on trustpilot</a>
    </div>

    <div class='divider'></div>

    <div class="bot-nav">

        <a class="nav-item-big" href="#">DH Web Design</a>
        <i id="hamburger" class="fa-solid fa-bars" style="color: #ffffff;"></i>
        <ul class="nav">
            <li class="nav-item"><a href='#'>Some Link</a></li>
            <li class="nav-item"><a href='#'>Some Link</a></li>
            <li class="nav-item"><a href='#'>Some Link</a></li>
            <li class="nav-item"><a href='#'>Some Link</a></li>
            <li class="nav-item"><a href='#'>Some Link</a></li>
            <li class="nav-item"><a href='#'>Some Link</a></li>
        </ul>
    </div>
</nav>