<nav class="nav">
    <ul class="navbar">
        <li class="nav-item"><a href="#">Example link</a></li>
        <li class="nav-item"><a href="#">Example link</a></li>
        <li class="nav-item"><a href="#">Example link</a></li>
        <li class="nav-item"><a href="#">Example link</a></li>
        <li class="nav-item"><a href="#">Example link</a></li>
        <li class="nav-item"><a href="#">Example link</a></li>
    </ul>
</nav>