<meta charset="UTF-8">
<title>DH Web Designs | <%= title %></title>

<link rel="stylesheet" href="css/reset.css" type="text/css"> 
<link rel="stylesheet" href="css/main.css" type="text/css"> 

<!-- Font Awesome -->
<script src="https://kit.fontawesome.com/8576705fcf.js" crossorigin="anonymous"></script>
