<nav>
    <a href="#">DH Web Design</a>
    <i class="fa-solid fa-bars"></i>
    <ul>
        <li><a href='#'>Some Link</a></li>
        <li><a href='#'>Some Link</a></li>
        <li><a href='#'>Some Link</a></li>
        <li><a href='#'>Some Link</a></li>
        <li><a href='#'>Some Link</a></li>
        <li><a href='#'>Some Link</a></li>
    </ul>
</nav>