


<header>
    <h2>What can we do for you</h2>
</header>
<main class="container-2 d-flex center-content gap-3">



    <article class="banner-4 primary col-3">
        <!-- <div class="img-container">
            <img src="https://picsum.photos/400/225">
        </div> -->
        <header>
            <h3>Websites</h3>
        </header>
        <main>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque quisquam perspiciatis corporis ducimus placeat.</p>
        </main>
        <!-- <footer>
            <div class='button-group'>
                <a class="button" href="#">Button</a>
            </div>
        </footer> -->
    </article>

    <article class="banner-4 primary col-3">
        <!-- <div class="img-container">
            <img src="https://picsum.photos/400/225">
        </div> -->
        <header>
            <h3>Marketing</h3>
        </header>
        <main>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque quisquam perspiciatis corporis ducimus placeat.</p>
        </main>
        <!-- <footer>
            <div class='button-group'>
                <a class="button" href="#">Button</a>
            </div>
        </footer> -->
    </article>

    <article class="banner-4 primary col-3">
        <!-- <div class="img-container">
            <img src="https://picsum.photos/400/225">
        </div> -->
        <header>
            <h3>Support</h3>
        </header>
        <main>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque quisquam perspiciatis corporis ducimus placeat.</p>
        </main>
        <!-- <footer>
            <div class='button-group'>
                <a class="button" href="#">Button</a>
            </div>
        </footer> -->
    </article>
</main>
<footer>

</footer>