
    <header>
        <h2>Meet our Clients</h2>
    </header>
    <main>
        <div class="d-flex row container-2 gap-2 just-evenly ">

            <article class='banner-4 d-flex col center-content col-3'>
                <header>
                    <div class='img-container-profile'>
                        <img src='img/profile1.jpg'>
                    </div>
                </header>

                <main>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime doloribus quas aliquam deleniti consectetur debitis at magni illum velit tempore neque expedita, rerum amet provident. Eius in nam incidunt consequuntur.</p>
                </main>

                <footer>
                    <h3>Name</h3>
                </footer>
            </article>

            <article class='banner-4 d-flex col center-content col-3'>
                <header>
                    <div class='img-container-profile'>
                        <img src='img/profile1.jpg'>
                    </div>
                </header>

                <main>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime doloribus quas aliquam deleniti consectetur debitis at magni illum velit tempore neque expedita, rerum amet provident. Eius in nam incidunt consequuntur.</p>
                </main>

                <footer>
                    <h3>Name</h3>
                </footer>
            </article>


            <article class='banner-4 d-flex col center-content col-3'>
                <header>
                    <div class='img-container-profile'>
                        <img src='img/profile1.jpg'>
                    </div>
                </header>

                <main>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime doloribus quas aliquam deleniti consectetur debitis at magni illum velit tempore neque expedita, rerum amet provident. Eius in nam incidunt consequuntur.</p>
                </main>

                <footer>
                    <h3>Name</h3>
                </footer>
            </article>


            

            

            
        </div>

    </main>
    <footer>
        <a href="#">Leave a review</a>
    </footer>
    <div class="half-background-img">
        <img src='img/blue-texture.jpg'>
    </div>
