/* Media qearies: 0-600, 600-800, 800-1000, 1000-1500, 1500-9999 */
/* media quaries height : breaks at 0-600 */


/* Basic styles */
html{
    padding: 0;
    margin: 0;
    font-size:62.5%;
}

body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    
}

main{
    padding: 0;
    margin: 0;
}
h1{
    margin:0;
}

ul {
    padding-inline-start: 0;
}
/* Nav Bar */
#header-nav{
    position:fixed;
    z-index:100;
    width:100%;
}
.nav-mob{

    
    display:none;
    color:white;
    font-size:3.2rem;
    
    text-align:end;
    width:100%;
    vertical-align:middle;
    

    
}
    .nav-mob > i{

        padding:0.5rem 1rem;
       
        cursor:pointer;
        
    }

.nav{
    
    display:flex;
    padding:1rem 1rem;
    
    width:auto;
    justify-content: space-between;
    align-items: center;
}
    .nav > h1 {
        color:white;
        font-size:3rem;
        width:100%;
    }
    .nav > .navbar{
        list-style:none;
        position:relative;

        
        

    }
        .nav > .navbar > .nav-item{
            padding: 1rem 1rem;

        }
            .nav > .navbar > .nav-item > a{
                font-size:1.6rem;
                color:white;
                text-decoration: none;
            }



@media only screen and (max-width:991px){
    .nav > .navbar{

        position:absolute;
        background-color:rgb(255, 255, 255);
       
        left:0;
        top:4rem;
        width:100%;
        overflow:hidden;
        text-align:center;
        height:0;
        transition: height 0.5s ease-in-out;
    }
    .nav > h1 {
        font-size:3rem;
        width:100%;
    }
    .nav > .nav-mob{
        display:inline-block;
    }
    .nav > .navbar > .nav-item > a {
        color:black;
    }
    
   
    
}
@media only screen and (min-width:992px) {
    .nav > .nav-mob{
        display:none;  
    }
    .nav > .navbar{
        display:flex;
        height:38px !important;
    }
  
    .nav > h1{
        width:auto;
    }
    #navtarget.show{
        display:flex;
    }
}
/* Header Section */

#header{
    position:relative;
    background-color:rgba(0, 0, 0, 0.3)
}
    #header > .inner{
        display:flex;
        justify-content:center;
        align-items:center;
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        padding:0 5rem 0 5rem;
        width:100%;
        
        
        
    }
        #header > .inner > .text-content{
            text-align:end;
        }
        #header > .inner > .text-content > .button-group{
           justify-content:flex-end;
        }
            #header > .inner > .text-content > h1 {
                
                font-size: 6rem;
                color: white;
            }
            
            #header > .inner > .img-container > img{
                width:20rem;
            }
.header-video{
    object-fit: cover;
    width: 100vw;
    height:100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index:-1;
    
}

@media only screen and (max-width:600px) {
    #header > .inner > .text-content > h1 {         
        font-size: 4rem;
    }
}
@media only screen and (min-width:600px) {
    #header > .inner > .text-content > h1 {         
        font-size: 5rem;
    }
}
@media only screen and (min-width:768px) {
    
}
@media only screen and (min-width:992px) {
    
}
@media only screen and (min-width:1200px) {
    #header > .inner > .text-content > h1 {         
        font-size: 6rem;
    }
}

/* Service Section */
#service-section{
    background-color:black;
    display:flex;
    flex-direction: row;
    align-items: end;
    justify-content:space-evenly;
    height:34%;
    
}
.service{
    text-align:center;
    padding:1rem 2rem 4rem;
}
.service > header {
    font-size:2.4rem;
    color:white;
}
.service > section {
    font-size:1.6rem;
    color:white;
    max-width:30rem;
    margin:0 auto;
}

/* Modules */

.full-container{
    height: 100vh;
    width: 100vw;
}
.wrapper{
    padding:5rem;
}
.flex-row{
    display:flex;
}
.flex-col-rev{
    display:flex;
    flex-direction: column-reverse;
}
.col-12{
    width:100%
}
.col-8{
    width:66%
}
.col-4{
    width:33%
}
.col-6{
    width:50%
}
.h-8{
    height:66%
}
.h-4{
    height:33%
}
.img-container{
    float:right;
    width:auto;
}
.img-container > img{
    
    max-height:100%;
    
}
/* Buttons  */
.button-group{
    display:flex;
    gap:0.5rem;
}
.button {
    padding:1rem 2rem;
    font-size:2rem;
    border-radius: 5px;
    background: rgb(228, 82, 82);
    text-decoration: none;
    color:white;
 
}

@media only screen and (max-width:600px) {
   .button{
        font-size:1.6rem;
        padding:0.8rem 1.6rem;
   }
}


.invisible{
    display:none;
}



.blue {
    background-color:blue;
}
.green {
    background-color:green;
}
.red {
    background-color:red;
}