<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body>

        <header id="header-nav">
            <%- include('../partials/header') %>
        </header>

        <main>
            <header id="header" class="full-container">
                <video autoplay muted loop class="header-video">
                    
                    <source class="overlay" src="img/space-video.mp4" type="video/mp4">
                </video>
                <div class='inner'>
                    <div class='text-content'>
                        <h1>DH Web Designs</h1>
                        <div class="button-group">
                            <a class="button" href="#">Book appointment</a>
                            <a class="button" href="#">Price Calculator</a>
                        </div>
                    </div>
                    <div class="img-container">
                        <img src="img/logo.png">
                    </div>
                    
                </div>

            </header>

            <section class="full-container">
                
                <div class="flex-row h-8">
                    <div class="col-12">
                        <header>
                            <h2>Get An estimitate on your purchase</h2>
                        </header>
                        <section>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus quidem in nisi corrupti suscipit adipisci repellat rem natus magnam blanditiis. Ut fuga doloribus nobis ipsum quibusdam mollitia libero impedit praesentium.</p>
                        </section>
                        <footer>
                            <div class="button-group">
                                <a class="button" href="#">Book appointment</a>
                                <a class="button" href="#">Price Calculator</a>
                            </div>

                        </footer>
                        
                    </div>
                    <div class="img-container">
                        <img src="http://placekitten.com/300/600">
                    </div>

                    

                    
                </div>
                <div id='service-section' class="h-4">
                    <div class="service">
                        <header>
                            <h2>Create a website</h2>
                        </header>
                        <section>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam repudiandae nisi at numquam quibusdam ex repellendus doloremque, culpa minima est, possimus incidunt dolor ea, quaerat ipsa ipsum! Voluptates, itaque magnam?</p>
                        </section>
                        <footer>
    
                        </footer>
                    </div>
                    <div class="service">
                        <header>
                            <h2>Create a community</h2>
                        </header>
                        <section>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam repudiandae nisi at numquam quibusdam ex repellendus doloremque, culpa minima est, possimus incidunt dolor ea, quaerat ipsa ipsum! Voluptates, itaque magnam?</p>
                        </section>
                        <footer>
    
                        </footer>
                    </div>
                    <div class="service">
                        <header>
                            <h2>Marketing</h2>
                        </header>
                        <section>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam repudiandae nisi at numquam quibusdam ex repellendus doloremque, culpa minima est, possimus incidunt dolor ea, quaerat ipsa ipsum! Voluptates, itaque magnam?</p>
                        </section>
                        <footer>
    
                        </footer>
                    </div>
                </div>
                
            </section>

            <section class="full-container red">
            </section>
        </main>
        <footer>
            <%- include('../partials/footer') %>
        </footer>
    </body>