<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body>

        <header>
            <%- include('../partials/header') %>
        </header>

        <main>
            <header id="header" class="full-container">
                <video autoplay muted loop class="header-video">
                    <source src="img/space-video.mp4" type="video/mp4">
                </video>
                <div class='inner'>
                    <div class='text-content'>
                        <h1>DH Web Designs</h1>
                        <a class="button" href="#">Book appointment</a>
                        <a class="button" href="#">Price Calculator</a>
                    </div>
                    <div class="img-container">
                        <img src="img/logo.png">
                    </div>
                    
                </div>

            </header>

            <section class="full-container blue">
            </section>

            <section class="full-container red">
            </section>
        </main>
        <footer>
            <%- include('../partials/footer') %>
        </footer>
    </body>