<!doctype html>
<html>
    <head>
        <%- include('../partials/head') %>
    </head>
    <body>

        <header>
            <%- include('../partials/header') %>
        </header>

        <main>


<!-- ######################## HERO SECTION ######################## -->

            <section id='hero' class='full-container'>

                <div class='d-flex center-content h-12'>

                    <div class='d-flex banner gray w-6'>
                        <div>
                            <header>
                                <h1>DH Web Design</h1>
                            </header>
                            <main>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic facilis doloremque labore, fuga tempore deleniti illo in ut blanditiis illum</p>
                            </main>
                            <footer>
                                <div class='button-group'>
                                    <a class='button' href="#">Button</a>
                                    <a class='button' href="#">Button</a>
                                </div>
                            </footer>
                        </div>
                        <div class='img-container'>
                            <img class='logo' src='img/logo.png'>
                        </div>
                    </div>

                </div>
                
            </section>


<!-- ######################## PRODUCTS SECTION ######################## -->

            <section id='products' class='full-container'>
                <header>
                    <h2>What can we do for you</h2>
                </header>
                <main class="container-1 d-flex center-content gap-3">

                    <article class="banner-2 gray">
                        <div class="img-container">
                            <img src="https://picsum.photos/400/225">
                        </div>
                        <header>
                            <h2>Websites</h2>
                        </header>
                        <main>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque quisquam perspiciatis corporis ducimus placeat. Amet quia nemo odit deleniti vero voluptatibus pariatur voluptate quidem modi eius tempora voluptates, at sapiente!</p>
                        </main>
                        <footer>
                            <div class='button-group'>
                                <a class="button" href="#">Button</a>
                            </div>
                        </footer>
                    </article>

                    <article class="banner-2 gray">
                        <div class="img-container">
                            <img src="https://picsum.photos/400/225">
                        </div>
                        <header>
                            <h2>Community</h2>
                        </header>
                        <main>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque quisquam perspiciatis corporis ducimus placeat. Amet quia nemo odit deleniti vero voluptatibus pariatur voluptate quidem modi eius tempora voluptates, at sapiente!</p>
                        </main>
                        <footer>
                            <div class='button-group'>
                                <a class="button" href="#">Button</a>
                            </div>
                        </footer>
                    </article>

                    <article class="banner-2 gray ">
                        <div class="img-container">
                            <img src="https://picsum.photos/400/225">
                        </div>
                        <header>
                            <h2>Support</h2>
                        </header>
                        <main>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque quisquam perspiciatis corporis ducimus placeat. Amet quia nemo odit deleniti vero voluptatibus pariatur voluptate quidem modi eius tempora voluptates, at sapiente!</p>
                        </main>
                        <footer>
                            <div class='button-group'>
                                <a class="button" href="#">Button</a>
                            </div>
                        </footer>
                    </article>
                </main>
                <footer>

                </footer>
            </section>

<!-- ######################## ABOUT US SECTION ######################## -->

            <section id='about' class='full-container'>
                <div class='d-flex'>
                    <div class="img-container-cover">
                        <img src="https://picsum.photos/360/640">
                    </div>
                    <div class="d-flex center-content container-2">
                        <article class="banner-3 gray">
                            <header>
                                <h2>About us</h2>
                            </header>

                            <main>
                                <h3>Something</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate hic possimus veritatis illo dolorum omnis? Nesciunt, minima itaque! Voluptatibus doloremque reprehenderit laboriosam nisi minima sint similique quod dolorem placeat accusamus.</p>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate hic possimus veritatis illo dolorum omnis? Nesciunt, minima itaque! Voluptatibus doloremque reprehenderit laboriosam nisi minima sint similique quod dolorem placeat accusamus.</p>
                                <h3>Something else</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa aliquam molestias iste in, fugiat ducimus harum eligendi labore fuga, dolorum nihil repellat atque eius consequatur, nesciunt reprehenderit omnis assumenda id!</p>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate hic possimus veritatis illo dolorum omnis? Nesciunt, minima itaque! Voluptatibus doloremque reprehenderit laboriosam nisi minima sint similique quod dolorem placeat accusamus.</p>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate hic possimus veritatis illo dolorum omnis? Nesciunt, minima itaque! Voluptatibus doloremque reprehenderit laboriosam nisi minima sint similique quod dolorem placeat accusamus.</p>
                            </main>

                            <footer>
                                <div class="button-group">
                                    <a class="button" href="#">Button</a>
                                    <a class="button" href="#">Button</a>
                                </div>
                            </footer>

                        </article>
                    </div>
                </div>

            </section>


<!-- ######################## PROJECTS SECTION ######################## -->

            <section id='projects' class='full-container'>
                <div class='d-flex center-content h-12'>

                    <div id="project-window" class='col-8'>
                        <header>
                            <h2>Projects</h2>
                        </header>
                        <main class='d-flex just-evenly'>

                            <div class='img-container'>
                                <img src="https://picsum.photos/300/400">
                            </div>

                            <div class='img-container'>
                                <img src="https://picsum.photos/300/400">
                            </div>

                            <div class='img-container'>
                                <img src="https://picsum.photos/300/400">
                            </div>

                        </main>

                        <footer>

                            <div class="button-group just-center">
                                <a class="button" href="#">Button</a>
                                <a class="button" href="#">Button</a>
                            </div>

                        </footer>

                    </div>

                    <div class="d-flex col col-4 gap-3">

                        <article class='banner-3 gray'>

                            <header>
                                <h3>Business Name</h3>
                            </header>

                            <main>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus aut delectus porro fugiat vitae tenetur aperiam veniam asperiores nihil? In et expedita sed sint atque omnis quod numquam adipisci sapiente.</p>
                            </main>

                            <footer>
                                <div class="button-group just-center">
                                    <a class='button' href="#">Button</a>
                                </div>
                            </footer>

                        </article>

                        <div class='img-container just-center'>
                            <img src="https://picsum.photos/300/400">
                        </div>

                    </div>
                </div>
                
            </section>

<!-- ######################## TESTIMONIALS SECTION ######################## -->

            <section class='full-container'>
                <section id="testimonials" class='half-container'>
                    <header>
                        <h2>Testimonials</h2>
                    </header>
                    <main>
                        <div class="d-flex row">

                            <article>
                                <header>
                                    <h3>Name</h3>
                                </header>

                                <main>
                                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime doloribus quas aliquam deleniti consectetur debitis at magni illum velit tempore neque expedita, rerum amet provident. Eius in nam incidunt consequuntur.</p>
                                </main>

                                <footer>
                                    <span>When and where</span>
                                    <a href="#">link to project</a>
                                </footer>
                            </article>

                            <article>
                                <header>
                                    <h3>Name</h3>
                                </header>

                                <main>
                                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime doloribus quas aliquam deleniti consectetur debitis at magni illum velit tempore neque expedita, rerum amet provident. Eius in nam incidunt consequuntur.</p>
                                </main>

                                <footer>
                                    <span>When and where</span>
                                    <a href="#">link to project</a>
                                </footer>
                            </article>

                            <article>
                                <header>
                                    <h3>Name</h3>
                                </header>

                                <main>
                                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime doloribus quas aliquam deleniti consectetur debitis at magni illum velit tempore neque expedita, rerum amet provident. Eius in nam incidunt consequuntur.</p>
                                </main>

                                <footer>
                                    <span>When and where</span>
                                    <a href="#">link to project</a>
                                </footer>
                            </article>

                            <article>
                                <header>
                                    <h3>Name</h3>
                                </header>

                                <main>
                                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime doloribus quas aliquam deleniti consectetur debitis at magni illum velit tempore neque expedita, rerum amet provident. Eius in nam incidunt consequuntur.</p>
                                </main>

                                <footer>
                                    <span>When and where</span>
                                    <a href="#">link to project</a>
                                </footer>
                            </article>

                            <article>
                                <header>
                                    <h3>Name</h3>
                                </header>

                                <main>
                                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime doloribus quas aliquam deleniti consectetur debitis at magni illum velit tempore neque expedita, rerum amet provident. Eius in nam incidunt consequuntur.</p>
                                </main>

                                <footer>
                                    <span>When and where</span>
                                    <a href="#">link to project</a>
                                </footer>
                            </article>

                            <article>
                                <header>
                                    <h3>Name</h3>
                                </header>

                                <main>
                                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime doloribus quas aliquam deleniti consectetur debitis at magni illum velit tempore neque expedita, rerum amet provident. Eius in nam incidunt consequuntur.</p>
                                </main>

                                <footer>
                                    <span>When and where</span>
                                    <a href="#">link to project</a>
                                </footer>
                            </article>
                        </div>

                    </main>
                    <footer>
                        <a href="#">Leave a review</a>
                    </footer>

                </section>

                <section id='brands' class='half-container'>
                    <header>
                        <h2>Our Technology stack</h2>
                    </header>
                    <main>
                        <div class="d-flex just-evenly">
                            <article class="col-4">
                                <header>
                                    <h3>Brands</h3>
                                </header>
                                <main>
                                    
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe iste impedit quasi iure. Velit fugiat magnam pariatur voluptatibus in assumenda, porro quaerat maxime? Veritatis voluptas libero, voluptatibus incidunt quia nobis?</p>
                                    <div class="d-flex gap-3">
                                        <ul class="list-group">
                                            <li>Some Brand</li>
                                            <li>Some Brand</li>
                                            <li>Some Brand</li>
                                            <li>Some Brand</li>
                                        </ul>
                                        <ul class="list-group">
                                            <li>Some Brand</li>
                                            <li>Some Brand</li>
                                            <li>Some Brand</li>
                                            <li>Some Brand</li>
                                        </ul>
                                    </div>
                                   
                                </main>
                                <footer>
                                    <div class="button-group">
                                        <a class='button' href="#">Read more</a>
                                    </div>
                                </footer>
                            </article>

                            <article class="col-4">
                                <header>
                                    <h3>Stack</h3>
                                </header>
                                <main>
                                
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe iste impedit quasi iure. Velit fugiat magnam pariatur voluptatibus in assumenda, porro quaerat maxime? Veritatis voluptas libero, voluptatibus incidunt quia nobis?</p>
                                    <div class="d-flex gap-3">
                                        <ul class="list-group">
                                            <li>Some Stack</li>
                                            <li>Some Stack</li>
                                            <li>Some Stack</li>
                                            <li>Some Stack</li>
                                        </ul>
                                        <ul class="list-group">
                                            <li>Some Stack</li>
                                            <li>Some Stack</li>
                                            <li>Some Stack</li>
                                            <li>Some Stack</li>
                                        </ul>
                                    </div>
                    
                                </main>
                                <footer>
                                    <div class="button-group">
                                        <a class='button' href="#">Read more</a>
                                    </div>
                                </footer>
                            </article>
                        </div>
                    </main>
                    <footer>
                    </footer>
                </section>
            </section>
        

            

            <!-- ######################## CALCULATOR SECTION ######################## -->

            <section id='calculator' class='full-container'>

                <div class="d-flex center-content h-12">
                    <div class="banner-3 gray">
                        <header>
                            <h2>Calculator</h2>
                        </header>

                        <main>
                            <form>

                                <div>
                                    <label for="input1">input1</label> <input type='text' id='input1' name='input1'>
                                    <label for="input2">input2</label> <input type='text' id='input2' name='input2'>
                                    <label for="input3">input3</label> <input type='text' id='input3' name='input3'>
                                    <label for="input4">input4</label> <input type='text' id='input4' name='input4'>
                                </div>
                                <div>
                                    <label for="input5">input5</label> <input type='text' id='input5' name='input5'>
                                    <label for="input6">input6</label> <input type='text' id='input6' name='input6'>
                                    <label for="input7">input7</label> <input type='text' id='input7' name='input7'>
                                    <label for="input8">input8</label> <input type='text' id='input8' name='input8'>
                                </div>
                                <div>
                                    <label for="input9">input9</label> <input type='text' id='input9' name='input9'>
                                </div>
                                
                            </form>
                        </main>

                        <footer>
                            <button>Submit</button>
                        </footer>

                    </div>
                </div>
                
            </section>

            <!-- ######################## CONTACT SECTION ######################## -->

            <section id='contact' class='full-container'>
                <div class='d-flex center-content h-12'>
                    <div class="banner-3 gray">

                        <header>
                            <h2>Contact</h2>
                        </header>

                        <main>
                            <form>
                                <label for="fname">first name</label> <input type='text' id='fname' name='fname'>
                                <label for="lname">last name</label> <input type='text' id='lname' name='lname'>
                                <label for="email">email</label> <input type='text' id='email' name='email'>
                                <label for="subject">subject</label> <input type='text' id='subject' name='subject'>
                                <label for="content">content</label> <input type='text-area' id='content' name='content'>
                            </form>
                        </main>

                        <footer>
                            <button>Submit</button>
                        </footer>
                    </div>
                </div>
                
            </section>



        </main>

        <footer id="footer" class="full-container">
            <%- include('../partials/footer') %>
        </footer>

    </body>
</html>